<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190185776330-d90du75md08optj9p1tfuivjipi6kpdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190185776330-d90du75md08optj9p1tfuivjipi6kpdd</string>
	<key>API_KEY</key>
	<string>AIzaSyC18wFzNSN_4WctSHJzkK-V7xFd48gPQHU</string>
	<key>GCM_SENDER_ID</key>
	<string>190185776330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainyapps.EZFind</string>
	<key>PROJECT_ID</key>
	<string>ez-find-ee725</string>
	<key>STORAGE_BUCKET</key>
	<string>ez-find-ee725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190185776330:ios:235b577e3472196a088033</string>
	<key>DATABASE_URL</key>
	<string>https://ez-find-ee725.firebaseio.com</string>
</dict>
</plist>